.dl {
	display: flex;
	justify-content: space-between;
}

.dl div {
	padding: 0.1rem 0.5rem;
}

.dl dt {
	font-weight: bold;
	padding-bottom: 0.5rem;
}

.dl dt::after {
	content: ":";
}

.dl dd {
	margin: 0;
}

.ul {
	list-style-type: none;
}

.list_ul {
	list-style-type: disc;
}

.ul,
.list_ul {
	padding-left: 0;
}